{% extends 'base.html' %}

{% block head %}
<title>View Tasks</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">View Your Tasks</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for cur in cursor %}
            <tr>
                <td>{{ cur.id  }}</td>
                <td>{{ cur.content }}</td>
                <td>{{ cur.date_created }}</td>
                <td>
                    <a href="http://dns-name-of-pub-alb:80/deletetask/{{cur.id}}">DELETE TASK</a>  ##ALWAYS USE PUBLIC IP WITH href
                    <br>
                    <a href="http://dns-name-of-pub-alb:80/updatetask/{{cur.id}}">UPDATE TASK</a>  ##ALWAYS USE PUBLIC IP WITH href
                </td>
                
            </tr>
        {% endfor %}
        
    </table>
    <a href="http://dns-name-of-pub-alb:80/addtask">ADD TASKS</a> ##ALWAYS USE PUBLIC IP WITH href
</div>
{% endblock %}
